<a href="https://colab.research.google.com/github/mllrosa/prova_modulo_3/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [166]:
from numpy._core.fromnumeric import shape
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt

# pd.set_option("display.max_rows", 30)
# pd.set_option("display.max_columns", 30)
# print("Ambiente pronto.")

# Questão 1) ok Importe o arquivo CSV e crie um DataFrame chamado df
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 2) ok Mostre os 5 primeiros elementos do DataFrame.
# df.head(5)

# Questão 3) ok Exiba as informações gerais do DataFrame (tipos de dados e nulos).
# df.info()

# Questão 4) Mostre o formato (linhas, colunas) e a lista de colunas do DataFrame. ----
# df.shape()
# df.columns

# Questão 5) Exiba as estatísticas descritivas das colunas numéricas (média, min, max, etc.).


# Questão 6) ok Selecione apenas as colunas nome e departamento e mostre as 5 primeiras linhas.
# df[['nome', 'departamento']].head()

# Questão 7) ok Filtre os registros do turno 'Noite' e conte quantos registros existem.
# df.value_counts([df['turno']=='Noite'])
# df[df['turno']=='Noite'].value_counts()

# Questão 8) ok O código abaixo converte as datas de texto para data e em seguida cria uma coluna mês para os dados.
# Mostre as 5 primeiras linhas de df[['data','mes']].
df['data']=pd.to_datetime(df['data'],errors='coerce')
df['mes']=df['data'].dt.to_period('M').astype(str)
df[['data','mes']].head()


# Questão 9) O código abaixo agrupa e soma os valores por mes no DataFrame fat.
fat = df.groupby('mes',as_index=False)['faturamento'].sum().max()

# Mostre os 3 meses com maior faturamento.


# Questão 10) ok Calcule a média de salário por departamento e mostre em ordem decrescente. -----
# df.groupby('departamento',as_index=False)['salario'].mean().sort_values('salario',ascending=False)

In [167]:
import pandas as pd

# Questão 1) ok Importe o arquivo CSV e crie um DataFrame chamado df
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)
df

,id_funcionario,nome,departamento,turno,cidade,data,vendas_qtd,ticket_medio,faturamento,custo,lucro,horas_trabalhadas,salario
0,2,Bruno,Operacoes,Tarde,Campinas,2025-01-01,56,975.0,54600.0,41435.15,13164.85,166,8086
1,3,Carla,TI,Noite,Sao Paulo,2025-01-08,50,415.0,20750.0,10791.38,9958.62,142,8703
2,4,Diego,Vendas,Manha,Campinas,2025-01-15,55,107.0,5885.0,4287.17,1597.83,130,8221
3,5,Elaine,Operacoes,Tarde,Sao Paulo,2025-01-22,11,755.0,8305.0,4328.67,3976.33,147,4954
4,6,Fabio,TI,Noite,Campinas,2025-01-29,44,456.0,20064.0,11597.60,8466.40,158,6378
5,7,Giovana,Vendas,Manha,Sao Paulo,2025-02-05,37,874.0,32338.0,25812.20,6525.80,184,8193
6,8,Henrique,Operacoes,Tarde,Campinas,2025-02-12,43,971.0,41753.0,33218.02,8534.98,157,4556
7,9,Iris,TI,Noite,Sao Paulo,2025-02-19,51,324.0,16524.0,10658.24,5865.76,129,3476
8,10,Joao,Vendas,Manha,Campinas,2025-02-26,29,149.0,4321.0,2618.33,1702.67,197,6137
9,11,Karen,Operacoes,Tarde,Sao Paulo,2025-03-05,49,1384.0,67816.0,44195.04,23620.96,155,6438
10,12,Lucas,TI,Noite,Campinas,2025-03-12,19,795.0,15105.0,7537.49,7567.51,199,3274
11,13,Marina,Vendas,Manha,Sao Paulo,2025-03-19,10,369.0,3690.0,2497.44,1192.56,190,4463
12,14,Nicolas,Operacoes,Tarde,Campinas,2025-03-26,44,617.0,27148.0,10899.75,16248.25,169,8429
13,15,Olivia,TI,Noite,Sao Paulo,2025-04-02,41,316.0,12956.0,6569.21,6386.79,197,8746
14,16,Paulo,Vendas,Manha,Campinas,2025-04-09,15,813.0,12195.0,9010.40,3184.60,176,7230
15,17,Queila,Operacoes,Tarde,Sao Paulo,2025-04-16,7,1138.0,7966.0,3477.94,4488.06,139,6609
16,18,Rafa,TI,Noite,Campinas,2025-04-23,44,810.0,35640.0,26677.81,8962.19,174,5475
17,19,Sara,Vendas,Manha,Sao Paulo,2025-04-30,40,937.0,37480.0,15880.30,21599.70,172,5642
18,20,Teo,Operacoes,Tarde,Campinas,2025-05-07,37,552.0,20424.0,9396.67,11027.33,150,8342
19,1,Ana,TI,Noite,Sao Paulo,2025-05-14,27,631.0,17037.0,13484.77,3552.23,151,6916
20,2,Bruno,Vendas,Manha,Campinas,2025-05-21,29,947.0,27463.0,17993.72,9469.28,163,7461
21,3,Carla,Operacoes,Tarde,Sao Paulo,2025-05-28,57,311.0,17727.0,10212.97,7514.03,148,4709
22,4,Diego,TI,Noite,Campinas,2025-06-04,7,663.0,4641.0,2035.92,2605.08,152,9297
23,5,Elaine,Vendas,Manha,Sao Paulo,2025-06-11,57,401.0,22857.0,15284.61,7572.39,121,5092
24,6,Fabio,Operacoes,Tarde,Campinas,2025-06-18,32,1323.0,42336.0,28148.61,14187.39,162,4029
25,7,Giovana,TI,Noite,Sao Paulo,2025-06-25,51,1283.0,65433.0,50905.52,14527.48,168,8894

In [168]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 2) ok Mostre os 5 primeiros elementos do DataFrame.
df.head(5)

,id_funcionario,nome,departamento,turno,cidade,data,vendas_qtd,ticket_medio,faturamento,custo,lucro,horas_trabalhadas,salario
0,2,Bruno,Operacoes,Tarde,Campinas,2025-01-01,56,975.0,54600.0,41435.15,13164.85,166,8086
1,3,Carla,TI,Noite,Sao Paulo,2025-01-08,50,415.0,20750.0,10791.38,9958.62,142,8703
2,4,Diego,Vendas,Manha,Campinas,2025-01-15,55,107.0,5885.0,4287.17,1597.83,130,8221
3,5,Elaine,Operacoes,Tarde,Sao Paulo,2025-01-22,11,755.0,8305.0,4328.67,3976.33,147,4954
4,6,Fabio,TI,Noite,Campinas,2025-01-29,44,456.0,20064.0,11597.60,8466.40,158,6378

In [169]:

import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 3) ok Exiba as informações gerais do DataFrame (tipos de dados e nulos).
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_funcionario     26 non-null     int64
 1   nome               26 non-null     object
 2   departamento       26 non-null     object
 3   turno              26 non-null     object
 4   cidade             26 non-null     object
 5   data               26 non-null     object
 6   vendas_qtd         26 non-null     int64
 7   ticket_medio       26 non-null     float64
 8   faturamento        26 non-null     float64
 9   custo              26 non-null     float64
 10  lucro              26 non-null     float64
 11  horas_trabalhadas  26 non-null     int64
 12  salario            26 non-null     int64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.8+ KB

In [186]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 4) Mostre o formato (linhas, colunas) e a lista de colunas do DataFrame. ----
# df.shape()
df.columns,df.shape

####

(Index(['id_funcionario', 'nome', 'departamento', 'turno', 'cidade', 'data',
        'vendas_qtd', 'ticket_medio', 'faturamento', 'custo', 'lucro',
        'horas_trabalhadas', 'salario'],
       dtype='object'),
 (26, 13))

In [178]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 5) Exiba as estatísticas descritivas das colunas numéricas (média, min, max, etc.).

df[['vendas_qtd','horas_trabalhadas', 'salario']].mean()

vendas_qtd             36.230769
horas_trabalhadas     161.384615
salario              6528.846154
dtype: float64

In [177]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 5) Exiba as estatísticas descritivas das colunas numéricas (média, min, max, etc.).
df[['vendas_qtd','horas_trabalhadas', 'salario']].min()

vendas_qtd              7
horas_trabalhadas     121
salario              3274
dtype: int64

In [176]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 5) Exiba as estatísticas descritivas das colunas numéricas (média, min, max, etc.).
df[['vendas_qtd','horas_trabalhadas', 'salario']].max()

vendas_qtd             57
horas_trabalhadas     199
salario              9297
dtype: int64

In [175]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 6) ok Selecione apenas as colunas nome e departamento e mostre as 5 primeiras linhas.
df[['nome', 'departamento']].head()

     nome departamento
0   Bruno    Operacoes
1   Carla           TI
2   Diego       Vendas
3  Elaine    Operacoes
4   Fabio           TI

In [174]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 7) ok Filtre os registros do turno 'Noite' e conte quantos registros existem.
df.value_counts([df['turno']=='Noite'])
# df[df['turno']=='Noite'].value_counts()

turno
False    17
True      9
Name: count, dtype: int64

In [173]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 8) ok O código abaixo converte as datas de texto para data e em seguida cria uma coluna mês para os dados.
# Mostre as 5 primeiras linhas de df[['data','mes']].
df['data']=pd.to_datetime(df['data'],errors='coerce')
df['mes']=df['data'].dt.to_period('M').astype(str)
df[['data','mes']].head()

        data      mes
0 2025-01-01  2025-01
1 2025-01-08  2025-01
2 2025-01-15  2025-01
3 2025-01-22  2025-01
4 2025-01-29  2025-01

In [199]:
import pandas as pd

dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)



df['data']=pd.to_datetime(df['data'],errors='coerce')
df['mes']=df['data'].dt.to_period('M').astype(str)
# df[['data','mes']]

# Questão 9) O código abaixo agrupa e soma os valores por mes no DataFrame fat.

# fat = df.groupby('mes',as_index=False)['faturamento'].sum()


df.groupby('mes',as_index=False)['faturamento'].max().head(3)
# fat = df.groupby(['mes'],as_index=False)['faturamento'].max().head(3)
# df.groupby('departamento',as_index=False)['salario'].mean().sort_values('salario',ascending=True)

       mes  faturamento
0  2025-01      54600.0
1  2025-02      41753.0
2  2025-03      67816.0

In [171]:
import pandas as pd
dados = pd.read_csv("/content/avaliacao_empresa.csv")
df = pd.DataFrame(dados)

# Questão 10) ok Calcule a média de salário por departamento e mostre em ordem decrescente. -----
df.groupby('departamento',as_index=False)['salario'].mean().sort_values('salario',ascending=True)

  departamento      salario
0    Operacoes  6239.111111
2       Vendas  6554.875000
1           TI  6795.444444